/*simplified css style based on https://www.w3schools.com/w3css/default.asp */
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #FBF462 !important;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}

.m_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    color: #FBF462 !important;
    background-color: #000000 !important;
}

/* using simple css-grid for the layout of the game grid */
.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.grid_item {
    text-align: center;
}

.grid_container_header {
    display: grid;
    font-size: 36px;
}

.grid_container_players {
    display: grid;
    font-size: 20px;
}

img {
    border-style: none;
    vertical-align: middle;
    width: 100%;
}

/* I disable transition to have a clear picture in CHrome Performance profiler.
img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
*/